<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <title>Anasayfa</title>
</head>


<body class="mx-5">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/dashboard">Anasayfa</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/transaction">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/buy">Satın Al</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Çıkış Yap</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Hoşgeldin, {{session.get("name") }}</h1>
    <h4> Mevcut Bakiye {{ balance }} TC</h4>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Blockchain
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Transaction</th>
                            <th>Hash</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Transaction</th>
                            <th>Hash</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for block in blockchain %}
                        <tr>
                            <td>{{block.number}}</td>
                            <td>{{block.data}} TC</td>
                            <td>{{block.hash()}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Bugün {{ct}}'de güncellendi</div>
    </div>


</body>

</html>